body{
    background-color: violet;
}

.container {
    max-height: 60vh;
    max-width: 70vw;
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; */

    grid-template-columns: 11vh 11vh 11vh;
    grid-template-rows: 11vh 11vh 11vh;

    /* border: 3px solid purple; */
    margin: 2em;
  }

  .dark{
    background-color: hotpink;
  }
  .light{
      background-color: pink;
  }
  /*coukd have done nth child even and nth child odd wow */

  .box{
      border: 1px dashed lightblue;
      text-align: center;
  }

  /* we used help from developerdrive.com/how-to-create-a-css-grid-step-by-step/ */